.footerContainer {
  border-top: 1px solid lightgray;
  margin-top: 2em;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 20px 100px;
}

.socialMediaIcons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.icon {
  font-size: 1.5rem;
}

.icon:hover {
  cursor: pointer;
}
