.sectionContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectsContainer {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 1em;
}

.sectionTitle {
  font-size: 2rem;
  letter-spacing: 0.2em;
  padding-left: 1em;
}

.project {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/* PROJECT CARD */

.projectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.active {
  background-color: white;
  color: black;
  border-radius: 10px;
}

.projectCard {
  height: 600px;
  margin: 0 auto;
  color: black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  cursor: pointer;
  padding: 1em;
  transition: 0.2s all ease;

  /* DISABLES TEXT SELECTION */
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.projectCard:hover {
  background-color: white;
}

.topContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.bottomContainer {
  padding: unset;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.projectInfo {
}

.title {
  letter-spacing: 0.1em;
  font-size: 2rem;
  margin: unset;
}

.description {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
}

.imageContainer {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 200px;
  position: relative;
}
.projectImage {
  border-radius: 10px;
  margin: 0 auto;
}

.linksContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.icon {
  transition: 0.2s ease all;
  border-radius: 50%;
  padding: 0.3em;
  color: var(--accent-color);
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.tagsContainer {
  padding: unset;
}

@media (min-width: 800px) {
  .sectionTitle {
    font-size: 3rem;
  }

  .imageContainer {
    padding-left: 1em;
  }
}
